$projectx-black-primary: mat-palette($mat-grey, 700, 300, 900);
$projectx-black-accent: mat-palette($mat-blue-grey, 400);
$projectx-black-warn: mat-palette($mat-red, 500);

$projectx-black-theme: mat-dark-theme(
  $projectx-black-primary,
  $projectx-black-accent,
  $projectx-black-warn
);
